<br>
<h1>Store Status</h1>
<br>
<tr>
  <td class="success text-center status">Number of products in the store: <%= @product_count %></td>
  <hr>
  <td class="warning text-center status">Number of categories in the store: <%= @category_count %></td>
</tr>
